<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group12.whosplayin">
    
    <meta-data android:name="com.google.android.gms.version"
    android:value="@integer/google_play_services_version" />
    
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBLrqV6_nnu4MsKyOJ8b5GhwFAe-iBVLJc" />
    
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key" />
        
        <activity android:name=".LoginActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".FriendProfileActivity" android:label="@string/title_activity_friend_profile"
        android:theme="@style/AppTheme.NoActionBar" />
        
        <activity android:name=".MainActivity" android:label="@string/title_activity_main" android:theme="@style/AppTheme.NoActionBar"></activity>
        
        <activity android:name="group12.whosplayin.MapsActivity" android:label="@string/title_activity_maps"></activity>

        <service android:name=".GpsService" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="group12.whosplayin" />
            </intent-filter>
        </receiver>

        <service
            android:name="group12.whosplayin.MyGCMListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="group12.whosplayin.MyIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="group12.whosplayin.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>
    
</manifest>